.InfoPanel {
    position: relative;
    // background-color: var(--Background);
    background-color: #F6F7EB;
    max-width: 100%;
    margin: auto;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}