.infoPanel {
    position: relative;
    // background-color: var(--Background);
    background-color: #F6F7EB;
    max-width: 1440px;
    margin: auto;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &__calculator {
        max-width: 605px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 60px;
    }

    &__mainTitle {
        font-size: 32px;
        color: #000016;
        margin: 0 auto 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 605px;
        width: 100%;
    }

    &__titles {
        display: flex;
        justify-content: space-between;
        margin: 35px 0 15px;
        max-width: 605px;
        width: 100%;
    }

    &__titlesText {
        font-size: 20px;
        color: #000016;

        &_margin {
            margin-right: 35px;
        }
    }

    &__calcBlock {
        display: flex;
        justify-content: space-between;
        max-width: 605px;
    }

    &__status {
        background-color: #D9D9D9;
        border-radius: 10px 0px 0px 10px;
        max-width: 75px;
        width: 100%;
        height: 45px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__statusText {
        margin-left: 10px;
        font-weight: 700;
        font-size: 24px;
        color: #000016;
    }

    &__dividerShort {
        width: 2px;
        height: 28px;
        background-color: #5C415D;
    }

    &__input {
        width: 100%;
        height: 45px;
        background-color: #D9D9D9;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 50px 0 90px;
        position: relative;
    }

    &__inputField {
        display: block;
        height: 25px;
        min-width: 100px;
        width: 100%;
        border: none;
        outline: none;
        padding: 0;
        background-color: #D9D9D9;
        color: #000016;
        position: relative;
    }

    &__textAarea {
        width: 100%;
        height: 2px;
        background-color: #5C415D;
    }

    &__result {
        height: 45px;
        max-width: 170px;
        min-width: 130px;
        width: 100%;
        background-color: #5C415D;
        color: #FFFC31;
        border-radius: 0px 10px 10px 0px;
        text-align: center;
        line-height: 45px;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__totalResults {
        display: flex;
        flex-direction: column;
        max-width: 605px;
    }

    &__tr-flexContainer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        &_marginTop {
            margin-top: 15px;
        }
    }

    &__tr-flexElement {
        font-size: 24px;
        // color: var(--Black);
        color: #000016;
    }

    &__tr-sum {
        font-size: 24px;
        // color: var(--Black);
        color: #000016;
        font-weight: 700;
        max-width: 170px;
        width: 28%;
        display: flex;
        justify-content: center;
    }

    &__buttonSaveFlex {
        justify-content: flex-start;
    }

    &__button {
        width: 140px;
        height: 35px;
        line-height: 35px;
        // color: var(--Accent);
        color: #FFFC31;
        // background-color: var(--Elements);
        background-color: #5C415D;
        font-size: 16px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    &__dividerVertical {
        min-width: 2px;
        height: 485px;
        // background-color: var(--Elements);
        background-color: #5C415D;
        margin-top: 35px;
    }

    &__statContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        width: 100%;
        margin: 0 60px 0;
    }

    &__schedule {
        height: 255px;
        width: 100%;
        margin-top: 75px;
        line-height: 255px;
        text-align: center;
        background-color: #FFFC31;
    }

    &__flexContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 20px;
        font-size: 24px;
    }

    &__statFlexElement{
        margin-bottom: 20px;
    }

    &__calcData{
        font-weight: 700;
    }
}